<div class="container">
  <h1>Chat Room</h1>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" id="chat-input" class="form-controll">
    </div>
    <button id="button" class="btn btn-primary">send</button>
  </form>
  <div id="messages">
    <ul class="list-group"_>
      <%= render @messages%>
    </ul>
  </div>
</div>